*{
  box-sizing: border-box;
}
html{
  height: 100vh;
}
body{
  background: radial-gradient(rgb(0, 126, 172), rgb(0, 85, 159));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  position: relative;
}
h1 button{
  position: absolute;
  right: 0;
}